@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Roboto:ital,wght@1,100&display=swap');

* {
    background-color: rgb(255, 209, 139);   
    text-align: center;
    font-family: 'Henny Penny', cursive;
    background-size: cover;
}

section {
    height: 50vh;
    justify-content: center;
}

a {
    text-decoration: none;
}

button {
    height: 50px;
    font-size: 20px;
    width: 20vw;
}

button:hover {
    color: blue;
}

input {
    width: 40vw;
}

.title {
    font-size: 80px;
}

.subtitle {
    font-size: 50px;
}

.tile {
    justify-content: center;
    border-style: solid;
    border-color: green;
    border-width: 10px;
    font-size: xx-large;
    margin: 10px;
}

#name-input {
    height: 50px;
    text-align: left;
    padding: 5px;
}

#input-bar {
    height: 50vh;

    padding: 100px;
}

#top-banner {
    padding: 30px;
    font-size: 50px;
}


