@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Roboto:ital,wght@1,100&display=swap');

* {
    background-color: rgb(211, 140, 252); 
    text-align: center;
    font-family: 'Henny Penny', cursive;
}

html {
    background-color: rgb(211, 140, 252);  
}

section {   
    justify-content: center;
}

a {
    text-decoration: none;
    color: purple;
}

button {
    height: 80px;
    font-size: 40px;
    width: auto;
}

input {
    width: 40vw;
    height: 80px;
    font-size: 40px;
}

.title {
    font-size: 150px;
}

.subtitle {
    font-size: 50px;
}

.tile {
    justify-content: center;
    border-style: solid;
    box-shadow: inset 0px 0px 5px lightpink, 0px 0px 10px purple; 
    border-color: purple;
    border-width: 3px;
    font-size: xx-large;
    margin: 30px;
    margin-left: 40px;
    margin-right: 40px;
}   

#name-input {
    text-align: left;
    padding: 5px;
}

#enter-button:hover {
    border-width: 3px;
    border-style: solid;
    border-color: purple;
}

#input-bar {
    padding: 30px;
}

#top-banner {
    padding: 30px;
    font-size: 80px;
}